.fakeimg {
  height: 200px;
  background-color: pink;
}

.navbar {
  background-color: #13538a;
}

.notice-box {
  border-radius: 8px;
  border: 4px solid #8a4a13;
}

.card-title {
  color: #13538a;
}

.card-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.card-link:hover {
  color: black;
}

.footer {
  background-color: #13538a;
}
